@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao Senac estudo</h1>
    <p>Link do youtube <a href="https://www.youtube.com/">Youtube</a>.</p>
</div>
