@{
    ViewData["Title"] = "Alunos Incluidos";
}
<h1>@ViewData["Title"]</h1>

<p>Tabela de Alunos</p>



<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Primeiro nome</th>
            <th scope="col">SobreNome</th>
            <th scope="col">Situação</th>
        </tr>
    </thead>
    <style>
        tbody{
            background-color: cadetblue;
        }
    </style>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Marcelo</td>
            <td>Francis</td>
            <td>Aprovado</td>

        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Bernardo</td>
            <td>Gaymer</td>
            <td>Reprovado</td>

        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="1">Tony</td>
            <td>Stark</td>
            <td>Aprovado</td>
            

        </tr>
    </tbody>
</table>