<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Personagens</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            text-align: center;
            margin: 0;
            padding: 0;
        }

        h1 {
            background-color: #333;
            color: #fff;
            padding: 10px 0;
            margin-bottom: 20px;
        }

        .professor {
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 20px;
            margin: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

            .professor h2 {
                color: #333;
            }

            .professor img {
                max-width: 100%;
                border-radius: 5px;
                margin-top: 10px;
            }

            .professor p {
                font-weight: bold;
            }
    </style>
</head>
<body>
    <h1>Personagens</h1>

    <div class="professor">
        <h2>Rocket</h2>
        <img src="https://i.pinimg.com/originals/53/5c/40/535c40388abe2b2ada66ec70434fe047.gif" alt="Rocket" />
        <p><strong>Poder:</strong> Inteligência</p>
        <p><strong>Disciplina:</strong> Técnico de Nave Espacial</p>
    </div>

    <div class="professor">
        <h2>Senhor das Estrelas</h2>
        <img src="https://media.tenor.com/zLwkNYjonJoAAAAM/star-lord.gif" alt="Will" />
        <p><strong>Poder:</strong> Burrice</p>
        <p><strong>Disciplina:</strong> Capitão da Nave</p>
    </div>

    <div class="professor">
        <h2>Groot</h2>
        <img src="https://media.tenor.com/XrEozUwGI_oAAAAM/groot-this.gif" alt="Grootzin" />
        <p><strong>Poder:</strong> Eu sou grot</p>
        <p><strong>Disciplina:</strong> Eu sou Groot</p>
       
    </div>

    <div class="professor">
        <h2>Gamora</h2>
        <img src="https://giffiles.alphacoders.com/494/49428.gif" alt="Gamora" />
        <p><strong>Poder:</strong> Força</p>
        <p><strong>Disciplina:</strong> Luta</p>
    </div>
    <div class="professor">
        <h2>Drax</h2>
        <img src="https://media.tenor.com/98lbMsQOr-UAAAAd/drax-invisible.gif" alt="Drax" />
        <p><strong>Poder:</strong> Raiva</p>
        <p><strong>sem Disciplina:</strong> Vingança</p>
    </div>

</body>
</html>
