@model Aluno;
<!DOCTYPE html>
<html>
<head>
    <title>Cadastro de Alunos</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
        }

        header {
            background-color: #007bff;
            color: #fff;
            text-align: center;
            padding: 10px 0;
            width: 100%;
        }

        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            text-align: left;
            max-width: 400px;
        }

        h2 {
            color: #007bff;
            text-align: center;
        }

        label {
            font-weight: bold;
            display: block;
            margin-top: 10px;
        }

        input {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
            font-size: 14px;
        }

            input[type="submit"] {
                background-color: #007bff;
                color: #fff;
                border: none;
                padding: 10px 20px;
                border-radius: 3px;
                cursor: pointer;
                font-size: 16px;
            }

                input[type="submit"]:hover {
                    background-color: #0056b3;
                }
    </style>
</head>
<body>
    <header>
        <h1>Cadastro de Alunos</h1>
    </header>
    <div class="container">
        <form asp-controller="Alunos" asp-action="InserirAluno" method="POST">
            <img src="https://3.bp.blogspot.com/-7qFd3OsVZKo/WM_o9OanFkI/AAAAAAAAZVU/xMrfyvucMBczyIUrvG38ni0YCHNBib8WgCLcB/s1600/Gifs%2Banimados%2BGuardi%25C3%25B5es%2Bda%2BGal%25C3%25A1xia%2B3.gif" alt="SenhorDasEstrelas" class="img-fluid" />
            <label>Nome completo do Aluno:</label>
            <input type="text" asp-for="Nome" placeholder="Digite o nome completo" required>
            <label>Email:</label>
            <input type="text" asp-for="Email" placeholder="Digite o email" required>
            <label>Idade:</label>
            <input type="number" asp-for="Idade" placeholder="Digite a idade" required>
            <label>CEP:</label>
            <input type="text" asp-for="Cep" placeholder="Digite o CEP" required>

            <button type="submit">Cadastrar</button>
        </form>
    </div>
</body>
</html>
